<h1>Créditos</h1>

<p>
    Esta práctica ha sido desarrollada por Jorge Cervera
</p>

<img src="/images/img.jpg" width="100" height="150"/>
<p> <a href=https://github.com/jorgecerve">GitHub jorgecerve</a>

